* {
  box-sizing: border-box;
}

.container {
  background-color: aqua;
  width: 700px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.add {
  font-size: 30px;
  display: flex;
}

.add button {
  flex-grow: 1;
  background-color: gold;
}

.container div {
  background-color: yellow;
  margin: 5px;
}

p {
  background-color: rgb(180, 118, 60);
  width: 13em;
  height: 2em;
  margin: 5px;
}

dialog {
}
